body {
  font-family: Pixelify Sans;
  background-color: yellow;
  padding: 40px;
  text-align: center;
}

button{
   font-family: Pixelify Sans;
  background-color: blue;
  padding: 40px;
  text-align: center;
}

